.grid-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
    gap: 16px;
}

@media (max-width: 1024px) {
    .grid-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 425px) {
    .grid-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}