<mat-card class="productCard">
    <img class="imgCard" mat-card-image [src]="product.image" [alt]="product.title" (click)="openDialog()">
    <mat-card-header>
        <mat-card-title (click)="openDialog()" [matTooltip]="product.title" matTooltipPosition="above">{{product.title}}</mat-card-title>
        <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p class="price">
            ${{product.price}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="accent" (click)="openDialog()">DETAILS</button>
        <button mat-flat-button color="primary" (click)="addToCart()"><span>ADD TO CART</span> <mat-icon>shopping_cart</mat-icon></button>
    </mat-card-actions>
</mat-card>