.productCard {
    width: 100%;
}

mat-card-content {
    padding-top: 1em;
    padding-bottom: 1em;
}

mat-card-header {
    display: block;
}

mat-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

mat-card-content .price {
    font-size: 1.25em;
}

mat-card-actions button:first-of-type {
    margin-right: 2px;
}

mat-card-actions button:first-of-type {
    margin-left: 2px;
}

.imgCard {
    width: 100%;
    object-fit: contain;
    height: 250px;
}

mat-card-actions button:last-of-type span{
    display: inline;
}
mat-card-actions button:last-of-type mat-icon {
    display: none;
}

@media (max-width: 768px) {
    .imgCard {
        height: 200px;
    }
    mat-card-actions button:last-of-type span{
        display: none;
    }
    mat-card-actions button:last-of-type mat-icon {
        display: block;
        margin: 0;
    }
}

@media (max-width: 425px) {
    .imgCard {
        height: 150px;
    }
}