.product-dialog-container {
    width: 100%;
    display: flex;
}

.product-dialog-container img {
    width: 30%;
}

.product-content {
    width: auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-description {
    margin-bottom: 20px;
}

.product-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.product-detail {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.detail-label {
    font-weight: bold;
    margin-right: 5px;
}

.product-rating {
    display: flex;
    align-items: center;
}

.rating-count,
.rating-rate {
    margin-right: 20px;
}

.count-label,
.rate-label {
    font-weight: bold;
    margin-right: 5px;
}

.count-value,
.rate-value {
    font-weight: bold;
    color: #ff9800;
}